@media screen and (max-width: 880px) {
    .auth-button {
        width: 4%;
        height: 4%;
        padding: 1%;
    }
  .header-t {
        flex-direction: column;
        text-align: center;
    }

    .aaa,
    a,
    .AA,
    .flex-perrent {
        margin-bottom: 10px;
    }
    .header-t a {
        display: block;
        margin: 10px 0;
    }
    .aaa:hover,
    a:hover,
    .AA:hover,
    .flex-perrent:hover {
        transform: none;
    }
    .aaa:hover {
        color: #fff;
    }

    a:hover {
        transform: none;
    }

    .AA:hover {
        background: none;
    }

    .flex-perrent:hover {
        transition: none;
        transform: none;
    }

    .flex-container {
        display: block ;
        padding-left:2%;
        padding-right:2%;
    }
    .info-text{
        display: block;
    }
    .flex-perrent img{
        object-fit: contain;
    }
}
  
