@media screen and (max-width: 880px) {
    .auth-button {
        width: 100%; 
        max-width: 200px; 
        height: auto;
        padding: 1%;
        font-size: 16px;
    }
  .header-t {
        flex-direction: column;
        text-align: center;
        width: 100%;
        white-space: normal;
        max-width: 100%;
        overflow-x: auto;
    }

    .aaa,
    a,
    .AA,
    .flex-perrent {
        margin-bottom: 10px;
    }
    .header-t a {
        display: block;
        margin: 10px 0;
    }
    class:hover{
        color:none
    }
    .aaa:hover,
    a:hover,
    .AA:hover,
    .flex-perrent:hover {
        transform: none;
    }
    .aaa:hover {
        color: #fff;
    }

    a:hover {
        transform: none;
    }

    .AA:hover {
        background: none;
    }

    .flex-perrent:hover {
        transition: none;
        transform: none;
    }

    .flex-container {
        display: block ;
        padding-left:2%;
        padding-right:2%;
    }
    .info-text{
        display: block;
    }
    .flex-perrent img{
        object-fit: contain;
    }
}
  
